/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.sign{
background-color:blue;
color:white;
padding=10px;
font-weight:bold;
top:0px;
border-radius: 5px;
}
.vee{
position:fixed;
top:50%;
left:48%;
background-color:yellow;
}
.veeran{
position:fixed;
top:50%;
left:43%;
background-color:yellow;
}
#myBt{
position: absolute;
  top: 0px;
  right: 100px;
padding:10px;
}
#myBtn{
position: absolute;
  top: 0px;
  right: 0px;
padding:10px;
}
}
